{% extends noLayout == true ? viewbaseLayout : pagelayout %}
{% block content %}
    <h2>{{ content.name }}</h2>
    {% for field in content.fields %}
        <h3>{{ field.identifier }}</h3>
        {{ ng_render_field(content, field.identifier) }}
    {% endfor %}
{% endblock %}
