{# content \Netgen\EzPlatformSiteApi\API\Values\Content #}
{# location \Netgen\EzPlatformSiteApi\API\Values\Location #}

{% if location is defined %}
    <a href="{{ ez_path(location) }}">{{ content.name }}</a>
{% else %}
    <a href="{{ ez_path(content) }}">{{ content.name }}</a>
{% endif %}
